* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 2em;
}
::-webkit-scrollbar-track {
  margin-block: 0.5em;
}
:root {
  --primary-color: #f5f3f6;
  --secondary-color: rgb(0, 21, 41);
  --text-blue: #0071bd;
  --text-grey: #afaeaf;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main_body {
  display: flex;
  background-color: var(--primary-color);
}

@media (max-aspect-ratio: 1/1), (max-width: 900px){
  html{
    font-size: 12px;
  }
  .main_body{
  flex-direction: column;
}
}
@media (min-width:2000px){
  body{
    width:2000px;
    margin:auto;
  }
}