.main {
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.main h2 {
  font-weight: 600;
  color: var(--text-blue);
}
.page_head {
  text-align: center;
  line-height: 3em;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--text-grey);
}
.page_head p{
  opacity: 0.6;
}
.drop_down {
  align-self: flex-start;
  padding: 0.5em;
  border-radius: 0.2em;
  min-width: 8em;
}
.drop_down:focus {
  outline: none;
  border-color: var(--text-blue);
  box-shadow: 0 0 2px var(--text-blue);
}
.stats_container {
  display: flex;
  gap: 10em;
}
.stats_table {
  display: flex;
  flex-direction: column;
}
.stats {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.stats_head {
  font-size: 1.5em;
  font-weight: 500;
}
.stats_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em;
  border-bottom: 0.1em solid var(--text-grey);
}
.coinLinks{
  font-weight: 500;
}
.coinLinks a{
text-decoration: none;
color: var(--text-blue);
}
.text_bold{
  font-weight: 700;
}
.stats_row:hover {
  background-color: white;
  transition: 0.2s ease-out;
}
.icon_title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  opacity: 0.9;
}


/*         graph             */
.graph_heading{
  display: flex;
  justify-content: space-between;
}
.graph_row{
  display: flex;
  gap: 1em;
  font-weight: 600;
}
.color_blue{
  color: var(--text-blue);
}

@media (max-aspect-ratio: 1/1), (max-width: 900px){
  .main{
    width: 90%;
    padding: 2em 0;
  }
  .page_head{
    line-height: normal;
  }
  .stats_container{
    flex-direction: column;
    gap:2em;
  }
  .stats{
    width: 100%;
  }
  .graph_heading{
    flex-direction: column;
    align-items: center;
  }
}
